# Ignore jupyter notebooks
*.ipynb
*.ipynb*

# Ignore pycache
*.pyc

# Ignore personal precommits
.flake8
.isort.cfg
.pre-commit-config.yaml
pyproject.toml


# Misc
.mypy_cache/
bin/
include/
lib/
env/
../*