zipp==3.1.0
ipywidgets==7.4.2
numpy==1.16.3
pytest==5.4.2
lxml==4.4.1
importlib_metadata==1.6.0
matplotlib==3.1.0
python_chess==0.31.1
pandas==0.24.2
Cython==0.29.7
mypy_extensions==0.4.1
brotli==1.0.7
cryptography==2.9.2
ipaddr==2.2.0
ipython==7.14.0
keyring==21.2.1
lockfile==0.12.2
ordereddict==1.1
protobuf==3.18.3
pre-commit==2.4.0
pyOpenSSL==19.1.0
tqdm==4.46.0
usercustomize==1.0.0
wincertstore==0.2
